	ul.pagination li.details{
	   color:#00a65a;
	
	}
    
    ul.pagination li a
	{
		border-radius:3px;	
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		padding:6px 9px 6px 9px;
	}

	ul.pagination li a
	{
        color: #fff;
		background:	#00a65a;
		background:-moz-linear-gradient(top,#87AB19,#00a65a);
		background:-webkit-gradient(linear,0 0,0 100%,from(#00a65a),to(#00a65a));	
	}	
	
	ul.pagination li a:hover,
	ul.pagination li a.current
	{
		color:#00a65a;
		background:#E7F2C7;
	}